{% block form %}
    {{ form_start(form) }}
    <div class="col-12 col-md-6 border border-dark white pb-4">
        <div class="md-form form-group">
            {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <button type="submit" class="btn btn-success waves-effect waves-light mb-4">Ask for reset</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <small class="text-danger">{{ error.message }}</small>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}