<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Forgot password</title>

</head>
<body>

<h1>Forgot your password ?</h1>

<p>
    Hello {{ user.username }} !<br/>
    If you receive this email, you have asked to reset your password !<br/>
    Click <a href="snowtricks.thibaut-tourte.com/reset-password/{{ user.tokenForgotPwd }}">HERE</a> to create a new password !
</p>

<small>snowtricks.thibaut-tourte.com</small>

</body>
</html>