{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 mx-auto">
                <button class="btn btn-outline-success position-absolute r-0 px-3 js-scrollTo" href="#tricks">
                    <i class="fa fa-arrow-down"></i>
                </button>
                <div class="text-image">
                    <h1>Lorem ipsum dolor sit amet</h1>
                </div>
                <img src="images/home.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        <div class="row" id="tricks">
            <div class="card offset-xl-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>

            <div class="card offset-xl-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>

            <div class="card offset-xl-1 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <!--Text-->
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Trick name</h4>
                    <div class="card-text btn-group float-right">
                        <a href="" class="btn btn-outline-info px-2 py-1"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
                        <a href="" class="btn btn-outline-danger px-2 py-1 js-confirm-link"><i class="fa fa-trash fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <button class="btn btn-outline-success position-absolute r-0 px-3 js-scrollTo" href="#myNavbar">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <a class="btn btn-success waves-effect waves-light mt-2 mb-0"><i class="fa fa-gear" aria-hidden="true"></i> Load more</a>
            </div>
        </div>

    </section>
{% endblock %}