{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 mx-auto">
                <button class="btn btn-outline-success position-absolute r-0 px-3 js-scrollTo" href="#tricks">
                    <i class="fas fa-arrow-down"></i>
                </button>
                <div class="text-image">
                    <h1>Snowtricks</h1>
                    <h4>Le site de référencement des figures de snowboard</h4>
                </div>
                <img src="{{ asset('images/home.jpg') }}" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        {% if tricks %}
            <div class="row" id="tricks">
                {% include "ajaxs/tricks.html.twig" %}
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <button class="btn btn-outline-success position-absolute r-0 px-3 js-scrollTo" href="#myNavbar">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    {% if nbPagesTot > 1 %}
                    <button type="button" class="btn btn-success waves-effect waves-light my-2 mb-0"
                            id="loadMoreTricks" data-nbpagestot="{{ nbPagesTot }}">
                        <i class="fas fa-cog" aria-hidden="true"></i> Load more
                    </button>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <!-- Jumbotron -->
            <div class="jumbotron text-center mdb-color lighten-2 white-text mx-5 my-3">
                <!-- Title -->
                <h2 class="card-title h2">No trick for the moment...</h2>
                <!-- Subtitle -->
                <!--p class="my-4 h6">Powerful and free Material Design UI KIT</p-->
                <!-- Grid row -->
                <div class="row d-flex justify-content-center">
                    <!-- Grid column -->
                    <div class="col-xl-7 pb-2">
                        <p class="card-text">No snowboard figures are currently listed on this site !<br/>
                            To add a new figure log in, then click on "New trick" !</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <hr class="my-4 rgba-white-light">
                <div class="pt-2">
                    {% if app.user %}
                        <a class="btn btn-outline-white" href="{{ path('tricks_add') }}">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i> New trick
                        </a>
                    {% else %}
                        <a class="btn btn-outline-white" href="{{ path('login') }}">
                            <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Sign in
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Jumbotron -->
        {% endif %}

    </section>
{% endblock %}