{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <section class="container-fluid bg-modal pt-3">
        <div class="row">
            <div class="col-12">
                <form class="container text-center needs-validation" method="post" action="{{ path('registration') }}" novalidate>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h1>Registration</h1>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3 mb-5">
                        <div class="col-12 col-md-6 border border-dark white pb-4">
                            <!--
                            <div class="md-form form-group">
                                <input type="text" id="username" name="username" class="form-control">
                                <label for="username">Username</label>
                            </div>
                            <div class="md-form form-group">
                                <input type="email" id="email" name="email" class="form-control">
                                <label for="email">Email</label>
                            </div>
                            <div class="md-form form-group">
                                <input type="password" id="password" name="password" class="form-control">
                                <label for="password">Password</label>
                            </div>
                            <div class="md-form form-group">
                                <input type="password" id="cPassword" name="cPassword" class="form-control">
                                <label for="cPassword">Confirm password</label>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light mb-4">Create an account</button>
                            -->
                            {% form_theme form '/forms/registration.html.twig' %}
                            {{ form(form) }}
                            <a href="{{ path('login') }}">Already an account ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}