{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-md-12 px-0 mx-auto">
                <div class="text-image">
                    <h1>403 Page forbidden</h1>
                </div>
                <img src="{{ asset('images/exceptions/403.jpg') }}" class="img-fluid" alt="Responsive image">
                <div class="jumbotron text-center">
                    The requested page couldn't be opened : you do not have rights.
                    But you can <a href="{{ path('homepage') }}">return to the homepage</a>.
                </div>
            </div>
        </div>
    </section>
{% endblock %}