{% extends 'base.html.twig' %}

{% block body %}
    <h1>Server Error</h1>

    <p>
        An Error Occurred: please contact us to tell us what you were doing when this error occurred.<br/>
        <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}